<h4>Data from <%= @datafile %></h4>

<table class="table table-striped">
  <tr>
    <th>Coefficient name</th>
    <th>Value</th>
  </tr>
  <% @coef_table.each do |key, element| %>
      <tr>
        <td>
        <%= key %>
        </td>
        <td>
        <%= element %>
        </td>
      </tr>
  <% end %>
</table>
