<div class="row">
<div class="alert alert-success" role="alert"><%= @bet %>Thanks! Check what others think about this match!</div>
</div>
<!-- Match panel starts -->
<div class="row">
  <h2>Campeonato Brasileiro 2014 - 1st division</h2>
  <h2>Round 25</h2>
  <h3>Sep 28th, 2014 6:30pm - Orlando Scarpelli (SC)</h3>
</div>

  <div class="row" id="containerCenter">
  <div class="row">
    <div class="row">
      <div class="col-xs-4">
      <img src="http://cdn.cbf.com.br/cbf/imagens/escudos/00010sc.jpg">

      </div>
      <div class="col-xs-1">
        <p class="score"></p>
      </div>
      <div class="col-xs-2">
        <p class="score">x</p>
      </div>
      <div class="col-xs-1">
        <p class="score"></p>
      </div>
      <div class="col-xs-4">
        <img src="http://cdn.cbf.com.br/cbf/imagens/escudos/00019sp.jpg">
      </div>
    </div>
  </div>
</div>
<!-- Match panel ends -->
<!--Vote bars start -->
<div class="row">
  <div class="row">
    <h3>What everyone is betting</h3>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Home team victory</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
    </div>
    <div class="col-xs-1">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Draw</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
          10%
        </div>
      </div>
    </div>
    <div class="col-xs-1">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Away team victory</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
          30%
        </div>
      </div>
    </div>
    <div class="col-xs-1">
    <span class="badge">You</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    <h3>What your friends are betting</h3>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Home team victory</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
          25%
        </div>
      </div>
    </div>
    <div class="col-xs-1">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Draw</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
          10%
        </div>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Away team victory</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
          65%
        </div>
      </div>
    </div>
    <div class="col-xs-1">
    <span class="badge">You</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    <h3>What SoccerBot&#0153 is betting</h3>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Home team victory</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
          35%
        </div>
      </div>
    </div>
    <div class="col-xs-1">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Draw</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
          15%
        </div>
      </div>
    </div>
    <div class="col-xs-1">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p style="text-align: right">Away team victory</p>
    </div>
    <div class="col-xs-8">
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
          50%
        </div>
      </div>
    </div>
    <div class="col-xs-1">
    <span class="badge">You</span>
    </div>
  </div>
</div>
<!--Vote bars end -->
<div class="row">
  <button type="button" class="btn btn-primary">Check another match!</button>
</div>
