<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/soccer.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</head>

<body>
  <!-- header starts -->
  <nav class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- header ends -->

  <div class="container" >
    <div class="container" id="containerCenter">
      <h1>Customize your match</h1>

      <div class="row customizeMenuItem">
        <h5 class="customizeMenu">Tournament:</h5>
        <div class="dropdown customizeMenu">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Campeonato Brasileiro
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu disabl" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Campeonato Brasileiro</a>
          </ul>
        </div>
      </div>

      <div class="row customizeMenuItem">
        <h5 class="customizeMenu">Round:</h5>
        <div class="dropdown customizeMenu">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            10
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10</a></li>
          </ul>
        </div>
      </div>

      <div class="row customizeMenuItem">
        <h5 class="customizeMenu">Time of day:</h5>
        <div class="dropdown customizeMenu">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            4:00 PM
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4:00 PM</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6:30 PM</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10:00 PM</a></li>
          </ul>
        </div>
      </div>

      <div class="row customizeMenuItem">
        <h5 class="customizeMenu">Venue:</h5>
        <div class="dropdown customizeMenu">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Maracanã (RJ)
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Maracanã (RJ)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Venue 1</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Venue 2</a></li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Home team</div>
          <div class="panel-body">
            <div class="dropdown customizeMenu">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              Atlético (MG)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Atlético (MG)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Atlético (PR)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bahia (BA)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Botafogo (RJ)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chapecoense (MG)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Corinthians (SP)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Criciúma (SC)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cruzeiro (MG)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Figueirense(SC)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Flamengo (RJ) </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fluminense (RJ) </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Goiás (GO) </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Grêmio (RS) </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Internacional (RS) </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Palmeiras (SP)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Santos (SP)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">São Paulo (SP) </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sport (PE) </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vitória (BA) </a></li>
            </ul>
          </div>
          <div class="row">
            <h5 class="customizeMenu">Standing:</h5>
            <div class="dropdown customizeMenu">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                1st
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1st</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2nd</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3rd</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Away team</div>
          <div class="panel-body">
            <div class="dropdown customizeMenu">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              Atlético (MG)
              <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li class="disabled"role="presentation"><a role="menuitem" tabindex="-1" href="#">Atlético (MG)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Atlético (PR)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bahia (BA)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Botafogo (RJ)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chapecoense (MG)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Corinthians (SP)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Criciúma (SC)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cruzeiro (MG)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Figueirense(SC)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Flamengo (RJ) </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fluminense (RJ) </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Goiás (GO) </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Grêmio (RS) </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Internacional (RS) </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Palmeiras (SP)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Santos (SP)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">São Paulo (SP) </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sport (PE) </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vitória (BA) </a></li>
              </ul>
            </div>
            <div class="row">
              <h5 class="customizeMenu">Standing:</h5>
              <div class="dropdown customizeMenu">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  1st
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1st</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2nd</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3rd</a></li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="row" style="text-align: center; height: 80px">
        <button type="button" class="btn btn-primary">Create match</button>
      </div>
    </div>
  </div>
  <!--  Footer starts -->
  <div class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>Matches</h4>
          <ul>
            <li><a href="matchCurrent.html">Guess current match</a></li>
            <li><a href="matchCurrentBets.html">Your current bets</a></li>
            <li><a href="pastResultsIndex.html">Past results</a></li>
            <li><a href="customize.html">customize your match</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h4>Project</h4>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="todo.html">To do list</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <p class="text-uppercase">©Copyright 2014</p>
        </div>
      </div>
    </div>
  </div>
  <!--  Footer ends -->
</body>
</html>
