Overview of our methodology
We predict the future using data from the past - we get all information available from the past few years and understand if and how several factors are correlated with the outcome of the match - for example, did teams that played on Tuesday win significantly more than those who played on the other days of the week?
With that, we can have a better shot in predicting what will happen in the next match - because we know that it will occur on a Tusday, and this might influence the match. Therefore we are able to assign a probability for each match.

In detail
Data mining
First, we mine data. What does that mean? We go after every information available that we think it might have an impact in the matches. Do you think the coach makes a difference in the performance of a team? So do we. And therefore we take note on every coach name in a match for the past few years. And we do the same for squad, weather, venue... this is actually takes the most work - data is scattered all over the place; we have to organize it in a way that is meaningful for our analysis.

Modelling
The second step is to take all the data and try to take something useful from it. How? We cook it with our secret sauce in order to understand what factors have influence in the outcomes of a match, and if does, how intense it is. Did you know that attendance has no influence in the teams performance, i.e. chances of winning are the same regardless if venue is crowded or totally empty? Neither did us, but that's the kind of stuffy we find out when we cook the numbers and take something meaningful from them.

Tweaking
When the job's done... the job's not done. There is always a way to improve our analysis - we can further enhance our model, our bring more data to the table. In the end, we seek a better prediction power for SoccerBot, and make it more and more a xxxx and less and less a (chutador)
