<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title></title>
  <link rel="stylesheet" type="text/css" href="css/soccer.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>


</head>
<body>
  <!-- header starts -->
  <nav class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- header ends -->

  <div class="container" >
      <div class="row">
        <h2>Campeonato Brasileiro 2014 - 1st division</h2>
        <h2>Round 25</h2>
        <h3>Sep 28th, 2014 6:30pm - Orlando Scarpelli (SC)</h3>
      </div>

      <div class="row" id="containerCenter">
        <div class="row">
          <div class="row">
            <div class="col-xs-4">
            <img src="http://cdn.cbf.com.br/cbf/imagens/escudos/00010sc.jpg">

            </div>
            <div class="col-xs-1">
              <p class="score">2</p>
            </div>
            <div class="col-xs-2">
              <p class="score">x</p>
            </div>
            <div class="col-xs-1">
              <p class="score">1</p>
            </div>
            <div class="col-xs-4">
              <img src="http://cdn.cbf.com.br/cbf/imagens/escudos/00019sp.jpg">
            </div>
          </div>
        </div>
      </div>

      <!--Vote bars start -->
      <div class="row">
        <div class="row">
          <h3>What everyone bet</h3>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Home team victory</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          <span class="badge">Winner</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Draw</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                10%
              </div>
            </div>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Away team victory</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                30%
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          <span class="badge">You</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <h3>What your friends bet</h3>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Home team victory</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                25%
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <span class="badge">Winner</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Draw</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                10%
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Away team victory</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                65%
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          <span class="badge">You</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <h3>What SoccerBot&#0153 bet</h3>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Home team victory</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
                35%
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <span class="badge">Winner</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Draw</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
                15%
              </div>
            </div>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p style="text-align: right">Away team victory</p>
          </div>
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                50%
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          <span class="badge">You</span>
          </div>
        </div>
      </div>
      <!--Vote bars end -->
      <div class="row" style="text-align: center">
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>

  <!--  Footer starts -->
  <div class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>Matches</h4>
          <ul>
            <li><a href="matchCurrent.html">Guess current match</a></li>
            <li><a href="matchCurrentBets.html">Your current bets</a></li>
            <li><a href="pastResultsIndex.html">Past results</a></li>
            <li><a href="customize.html">customize your match</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h4>Project</h4>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="todo.html">To do list</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <p class="text-uppercase">©Copyright 2014</p>
        </div>
      </div>
    </div>
  </div>
  <!--  Footer ends -->
</body>
</html>
