<div class="row">
  <div class="col-md-12">
  <% if current_user.admin? %>

    <dl class="dl-horizontal">
       <dt>General</dt>
      <dd>
        <ul>
          <li>P0: remove all "where" functions when possible</li>
          <li>P2: Create a database table for venues (put Google maps api for their location?</li>
          <li>P2: Put teams locations / Google maps api?</li>
          <!--<li><strike>P2: Close the pages access to logged in users</strike></li>
          <li><strike>P0: "Admin stuff" in the footer only accessible to admin</strike></li>-->
        </ul>
      </dd>
      <dt><a href="/">Index page</a></dt>
      <dd>
        <ul>
          <li>P1: put a nice background</li>
          <li>P2: Create login card</li>
          <li>P2: create sign up card</li>
        </ul>
      </dd>
      <dt>User Stories</dt>
      <dd>
        <ul>
          <li>P2: User: manually change the coefficients</li>
          <li>P2: User: customize match</li>
          <!-- <li><strike>Admin: insert future matches</strike></li>
          <li><strike>Admin: insert the results of past matches</strike></li> -->
        </ul>
      </dd>
      <dt>About</dt>
      <dd>
        <ul>
          <li>P2: Finish content insertion</li>
          <!-- <li><strike>Footer not sticking in the bottom of page</strike></li> -->
        </ul>
      </dd>
      <dt>Current matches</d>
      <dd>
        <ul>

          <li>P2: The row containing the team logos break when screen width is too small (squeeze them?)</li>
          <li>P2: Put the X as an image?</li>
          <!--
          <li><strike>P0: Matches which already have been bet should not appear</strike></li>
          <li><strike>P1: change the footer link from match_id 1 to one he did not bet yet</strike></li>
          <li><strike>P0: In the form, change the static user_id to a dynamic one</strike></li>
          <li><strike>P2: Footer: increase margin between borde and top of "Matches" and "Project"</strike></li> -->
        </ul>
      </dd>
      <dt><a href="/current/bets/1">Current bets page</a></dt>
      <dd>
        <ul>
          <li>"You" badge is breaking the row when screen width is too small</li>
          <!-- <li><strike>Put "You" badges in other lines as well</strike></li>
          <li><strike>Create class name for "You" badges: put xs rather than sm</strike></li>
          <li><strike>P0: In the index, filter only those matches who did not occur AND the user has bet</strike></li>
          <li><strike>Align" Check another match", check bottom border</strike></li> -->
        </ul>
      </dd>
<!--       <dt>Match_index.html</dt>
      <dd>
        <ul>
          <li><strike>P2: Correct the glyphicon</strike></li>
        </ul>
      </dd>
 -->
      <dt>pastResults.html</dt>
      <dd>
      <ul>

        <li>"You" and "Winner" badge is breakind the linewhen screen width is too small   </li>
        <!-- <li><li><strike>P0: In the controller, user_id is static at 1</strike></li>
        <strike>Put "You" and "Winner" badges in other lines as well</strike></li>
        <li><strike>Create class name for "You" and "Winner" badges</strike></li> -->
      </ul>
      </dd>

      <dt>Customize your match</dt>
      <dd>
        <ul>
          <li>P2: Make a new_form with user_friendly layout</li>
        </ul>
      <dd>

      <dt>Create bet</dt>
      <dd>
        <ul>
          <li>P0: fix that ID stuff in the form</li>
          <!-- <li><strike>P0: Input validation (no user can bet more than once)</strike></li> -->
        </ul>
      <dd>


      <dt><a href="/teams">Manage bets</a></dt>
      <dd>
        <ul>
          <!-- <li><strike>P0: Validation</strike></li> -->
          <li>P0: only accessible to admins</li>
          <li>P2: Pagination</li>
        </ul>
      </dd>

      <dt><a href="/teams">Manage teams</a></dt>
      <dd>
        <ul>
          <!-- <li><strike>P0: How to get images within the app/assets folder?</strike></li>
          <li><strike>P0: Validation</strike></li>
          <li><strike>  Create show, edit and destroy functions</strike></li> -->
          <li>P0: only accessible to admins</li>
          <li>P2: Pagination</li>
        </ul>
      </dd>

      <dt><a href="/users">Manage users</a></dt>
      <dd>
        <ul>

          <!--
          <li><strike>P0: validation</strike></li>
          <li><strike>P0: only accessible to admins</strike></li>
          <li><strike>P0: Validate email adress in the field</strike></li>
          <li><strike>P0: Check the Admin input. Is not working well</strike></li> -->
          <li>P0: validation: has to have at least 1 admin</li>
          <li>P2: send email for confirmation of the user</li>
          <li>P2: Pagination</li>
        </ul>
      </dd>

      <dt><a href="/matches">Manage matches</a></dt>
      <dd>
        <ul>
          <li>P0: Validation: home_team different from away team</li>
          <li>P0: only accessible to admins</li>
          <!-- <li><strike>P0: Create the many-to-many association</strike></li>
          <li><strike>P0: Round number, scores and user_id are not being registered</strike></li>
          <li><strike>P1: Insert match outcome and user id in the database</strike></li>
          <li><strike>P2: change "date" to "match_on" and "time" to "match_at" (naming convention)</strike></li> -->
          <li>P2: Pagination in the index page</li>
          <li>P2: Pagination in the show page (because of the many bets)</li>
        </ul>
      </dd>
    </dl>
    <% else %>
      <p>Page unavailable =(</p>
    <% end %>
  </div>
</div>
