<div class="row">
  <div class="col-md-12">
    <p>General</p>
    <ul>
      <li>Create a nice "About" page</li>
    </ul>
    <p>User Stories</p>
    <ul>
      <li>User: manually change the coefficients</li>
      <li>Admin: insert future matches</li>
      <li>Admin: insert the results of past matches</li>
    </ul>
    <p>about.html</p>
    <ul>
      <li>Footer not sticking in the bottom of page</li>
    </ul>
    <p>matchCurrent.html</p>
    <ul>
      <li>The row containing the team logos break when screen width is too small (squeeze them?)</li>
      <li>Put the X as an image?</li>
      <li>Footer: increase margin between borde and top of "Matches" and "Project"</li>
    </ul>
      <p>matchCurrenBets.html</p>
    <ul>
      <li>"You" badge is breaking the row when screen width is too small</li>
      <li>Put "You" badges in other lines as well</li>
      <li>Create class name for "You" badges: put xs rather than sm</li>
      <li>Align" Check another match", check bottom border </li>
    </ul>
    <p>pastResults.html</p>
    <ul>
      <li>"You" and "Winner" badge is breakind the linewhen screen width is too small   </li>
      <li>Put "You" and "Winner" badges in other lines as well</li>
      <li>Create class name for "You" and "Winner" badges</li>
      <li>Center pagination</li>
    </ul>
      <p>customize.html</p>
    <ul>
       <li>Align input fields with "cinema credits" layout</li>
    </ul>

    <dt>Manage teams</dt>
    <dd>
      <ul>
        <li>P0: How to get images within the app/assets folder?</li>
        <li><strike>  Create show, edit and destroy functions</strike></li>
      </ul>
    </dd>

    <dt>Manage users</dt>
    <dd>
      <ul>
        <li>P1: Validate email adress in the field</li>
        <li>P2: send email for confirmation of the user</li>
      </ul>
    </dd>
  </div>
</div>
