<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>General</dt>
      <dd>
        <ul>
          <li><strike>P0: Create a nice "About" page</strike></li>
          <li>P2: Create a venue table (i.e. not only an input field)</li>
        </ul>
      </dd>
      <dt>User Stories</dt>
      <dd>
        <ul>
          <li>User: manually change the coefficients</li>
          <li><strike>Admin: insert future matches</strike></li>
          <li><strike>Admin: insert the results of past matches</strike></li>
        </ul>
      </dd>
      <dt>About</dt>
      <dd>
        <ul>
          <li>P2: Finish content insertion</li>
          <li><strike>Footer not sticking in the bottom of page</strike></li>
        </ul>
      </dd>
      <dt>matchCurrent.html</dt>
      <dd>
        <ul>
          <li>P1: create the login system (current_user)</li>
          <li>P2: The row containing the team logos break when screen width is too small (squeeze them?)</li>
          <li>P2: Put the X as an image?</li>
          <li>P2: Footer: increase margin between borde and top of "Matches" and "Project"</li>
        </ul>
      </dd>
      <dt>matchCurrenBets.html</dt>
      <dd>
        <ul>
          <li>"You" badge is breaking the row when screen width is too small</li>
          <li>Put "You" badges in other lines as well</li>
          <li>Create class name for "You" badges: put xs rather than sm</li>
          <li>Align" Check another match", check bottom border </li>
        </ul>
      </dd>
      <dt>pastResults.html</dt>
      <dd>
      <ul>
        <li>"You" and "Winner" badge is breakind the linewhen screen width is too small   </li>
        <li>Put "You" and "Winner" badges in other lines as well</li>
        <li>Create class name for "You" and "Winner" badges</li>
        <li>Center pagination</li>
      </ul>
      </dd>

      <dt>Customize your match</dt>
      <dd>
        <ul>
          <li>P2: Make a new_form with user_friendly layout</li>
        </ul>
      <dd>

      <dt><a href="/teams">Manage bets</a></dt>
      <dd>
        <ul>
          <li>P0: Validation</li>
        </ul>
      </dd>

      <dt><a href="/teams">Manage teams</a></dt>
      <dd>
        <ul>
          <li>P0: How to get images within the app/assets folder?</li>
          <li>P0: Validation</li>
          <li><strike>  Create show, edit and destroy functions</strike></li>
        </ul>
      </dd>

      <dt><a href="/users">Manage users</a></dt>
      <dd>
        <ul>
          <li>P0: confirmation message: fix in accordance with class</li>
          <li><strike>P0: Validate email adress in the field</strike></li>
          <li><strike>P0: Check the Admin input. Is not working well</strike></li>
          <li>P2: send email for confirmation of the user</li>
        </ul>
      </dd>

      <dt><a href="/matches">Manage matches</a></dt>
      <dd>
        <ul>
          <li>P0: Validation</li>
          <li><strike>P0: Create the many-to-many association</strike></li>
          <li><strike>P0: Round number, scores and user_id are not being registered</strike></li>
          <li><strike>P1: Insert match outcome and user id in the database</strike></li>
          <li><strike>P2: change "date" to "match_on" and "time" to "match_at" (naming convention)</strike></li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
