<div class="row">
  <div class="col-md-12">
    <h1>Add new bet</h1>
    <br>
    <form action="/create_bet" class="form-horizontal">
      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="col-sm-3 control-label">
          Username
        </label>
        <div class="col-sm-9">
          <div class="dropdown customizeMenu">
            <%= select_tag(:user_id, options_from_collection_for_select(User.order("username"), :id, :username), :class => "form-control") %>
          </div>
        </div>
      </div>

      <!-- Label and input for match_id -->
      <div class="form-group">
        <label for="match_id" class="col-sm-3 control-label">
          Match ID
        </label>
        <div class="col-sm-9">
          <div class="dropdown customizeMenu">
            <%= select_tag(:match_id, options_from_collection_for_select(Match.where(:outcome => !nil).order("match_on"), :id, :id), :class => "form-control") %>
          </div>
        </div>
      </div>

      <!-- Label and input for bet -->
      <div class="form-group">
        <label for="bet" class="col-sm-3 control-label">
          Bet
        </label>
        <div class="col-sm-9">
          <!--<input type="text" id="bet" name="bet" placeholder="Bet" class="form-control">-->
            <select class="form-control" id="bet" name="bet">
              <option value="1">Home team victory</option>
              <option value="0">Draw</option>
              <option value="-1">Away team victory</option>
            </select>
        </div>
      </div>

      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <input type="submit" value="Create bet" class="btn btn-primary">
        </div>
      </div>

    </form>

    <div class="col-md-12">
      <br>
      <a href="/bets">Go back</a>
      <br>
    </div>
  </div>
</div>

