<div class="row">
  <div class="col-md-12">
  <br>
    <dl class="dl-horizontal">
      <dt>User ID</dt>
      <dd><%= @bet.user_id %></dd>
      <dt>Match ID</dt>
      <dd><%= @bet.match_id %></dd>
      <dt>Bet</dt>
      <dd><%= @bet.guess %></dd>
      <dt>Last edited</dt>
      <dd><%= @bet.updated_at %></dd>
    </dl>
  </div>
  <div class="col-md-12">
    <br>
    <a href="/bets">Go back</a>
    <br>
  </div>
</div>
