*{
  font-family: 'Armata', sans-serif;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

li, a{
  text-transform: uppercase;
  display: block;
}
h1, h2, h3{
  text-align: center;
}

p{
  font-family: sans-serif;
}

.card{
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.crest{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  width: 100%;
  max-width: 110px;
  max-height: 110px;
}

.customizeMenu{
  float: left;
  margin-right: 30px;
}

.customizeMenuItem{
  margin-top: 10px;
  margin-bottom: 10px;
}
.credits{
  color: white;
  text-transform: uppercase;
  margin-left: 20px;
  vertical-align: center;
}

.footer{
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  width: 100%;
}

.front-page{
  color: white;
  font-weight: bold;
  text-align: left;
}

.score{
  font-size: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  height: 130px;
}

.thumbnail{
  max-width: 100%;
  max-height: 100%;
}
#background{
  position: fixed;
  display: block;
  background-color: black;
  left: -100px;
  top:-450px;
  height: 1200px;
  width: 1600px;
  z-index: -1;
}

#map-canvas {
  width: 600px;
  height: 400px
}

#navbar {
  border: 0;
  border-radius: 0;
}
