<img src="http://www.royalverd.com/assets/pernambuco1.jpg" id="background">

<div class="row">
  <div class="col-md-12 card">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <h2>[Soccer project]</h2>
        <p>[Soccer project] is a data mining project which acurately predicts the outcome of future soccer matches. Want to check the odds of your favourite team, or if your gut feeling is better than your frieds and our SoccerBot&#0153?</p>
        <div style="text-align:center">
        <a class="btn btn-primary btn-lg" href="/users/sign_up">Join Now!</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <br>
        <br>
        <h2>[Soccer project] is for everyone!</h2>
          <h3>Soccer enthusiasts</h3>
          <p class="text-left">Want to check your team odds of winning the upcoming match? See if you can predict results better than our SoccerBot&#0153? or your friends? Then [Unnamed soccer project] is for you!</p>

          <h3>Statisticians</h3>
          <p class="text-left">SoccerBot&#0153 secret sauce relies on big data tools - here you can see hardcore statistics in practice - check what factors we predict to have the most influence in the odds, and how they change odds of a team winning a match. You are also welcome to learn and criticize our methodology in <bold>here</bold></p>

          <h3>Soccer managers</h3>
          <p class="text-left">Managing your team based solely on thinks and beliefs is for the past century. Nowadays good decisions are data driven. Our SoccerBot&#0153 uses a comprehensive view of the teams performance - from where it played, squad, season, etc. to understand what has impact in the performance on the long run, and how you can improve it.</p>

          <h3>Decision makers</h3>
          <p class="text-left">Do you think that [Unnamed soccer project] is just a fun toy to play with your friends? Think again. Our data driven methodology can be used in virtually any field, from business to medicine. Want to improve your company sales, or check the odds of your patient have a certain disease? We might help you!</p>
          <div style="text-align:center">
          <a class="btn btn-primary btn-lg" href="/users/sign_up">Join Now!</a>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <br>

        <h2>What are you waiting for?</h2>
        <div style="text-align:center">
          <a class="btn btn-primary btn-lg" href="/users/sign_up">Join Now!</a>

        </div>
      </div>
      <div class="col-md-12">
        <br>
      </div>
    </div>
    </div>
    </div>
  </div>
<div class="col-md-12">
  <br>
</div>
