<img src="http://www.royalverd.com/assets/pernambuco1.jpg" id="background">

<div class="row card">
  <div class="col-md-12">
    <h1>FAQ</h1>
    <br>
    <h4>You said my team odds of winning last match was (insert here a number) but actually lost! What's wrong?</h4>
    <p>This is called statistics. If your team has, say, 90% chance of winning, well, we expect that it actually loses every ten matches or so. There is no way we can know for sure what will happen in the next match - that's up for the guys in the field. That said, you are more than welcome to criticise our methodology if the outcomes are far away from predictions (such as when your team is always losing even when we predict 90% chance of winning)</p>
    <br>
    <h4>You are saying my team has lower odds of winning than our archrival. You are conspiring against us!</h4>
    <p>We are data driven in our analysis and conclusions. That said, sometimes the information available lead us to think your team might not be in the best shape - but we promise, is not because we are consipiring against your time, it is what the data says! Maybe your team has better chances if the players do a better job rather than blaming us!</p>
    <br>
    <h4>Last week the odds were X, and now are Y. Why it has changed?</h4>
    <p>The odds change basically for 2 reasons: inputs and methodology. By inputs we mean that information used in calculating the odds for the next match changed - such as the result of a match yesterday, a change in the date of a match, the weather or virtually anything else. By methodoly we mean that the way we process the data is constantly being improved, and therefore as we update our calculations the odds change (hopefully giving better predictive power)</p>
    <br>
    <h4>You said there are applications of this methodology beyond soccer. How can I know more about it?</h4>
    <p>Applications of data mining are limitless. We are more than eager to give guidance on how to apply such tools in other applications. You can send us an email and we can talk more about it.</p>
    <br>
    <h4>I want to learn more about how you make these things happen!</h4>
    <p>Sure, we can explain in more detail to you. Just be advise that we can't share our secret sauce - but we can tell you in a broader sense how  you the underlying statistics work.</p>
    <br>
    <h4>I have further questions and inquiries</h4>
    <p>No problem! You can shoot us an email!</p>
    <br>
  </div>
</div>
<div class="col-md-12">
  <br>
</div>
