<img src="http://www.royalverd.com/assets/pernambuco1.jpg" id="background">

<div class="row card">
  <div class="col-md-12">
    <h1>How it works</h1>
    <br>
    <h4>Futbot's methodology</h4>
    <p>Futbot predicts the future using data from the past - it gets all information available from the past few years and understand if and how several factors are correlated with the outcome of the match - for example, did teams that played on Tuesday win significantly more than those who played on the other days of the week?</p>
    <p>With that, Futbot can have a better shot in predicting what will happen in the next match rather than pure guessing - because we know that it will occur on a Tusday, and this might influence the match. Therefore we are able to assign a probability for each match.</p>
    <h2>In detail</h2>
    <br>
    <h4>Data mining</h4>
    <p>First, Futbot mines data. What does that mean? It goes after every information available that we think it might have an impact in the matches. Do you think the coach makes a difference in the performance of a team? So do we. And therefore we take note on every coach name in a match for the past few years. And we do the same for squad, weather, venue... this is actually takes the most work - data is scattered all over the place; we have to organize it in a way that is meaningful for our analysis.</p>
    <br>
    <h4>Modelling</h4>
    <p>The second step is to take all the data and try to take something useful from it. How? Futbot's brain gets into work in order to understand what factors have influence in the outcomes of a match, and if does, how intense it is. Did you know that attendance has no influence in the teams performance, i.e. chances of winning are the same regardless if venue is crowded or totally empty? Neither did us, but that's the kind of stuffy we find out when we cook the numbers and take something meaningful from them.</p>
    <br>
    <h4>Tweaking</h4>
    <p>When the job's done... the job's not done. There is always a way to improve this processing - Futbot gets smarter, or want's to read more information. In the end, we seek a better prediction power for Futbot, and make it more an actual predictive model and less a shoot in the dark</p>
    <br>
  </div>
</div>
<div class="col-md-12">
  <br>
</div>
